<header class="header">
    <p-menubar [model]="navMenu" [autoDisplay]="true">
        <ng-template pTemplate="start">
            <span class="logo cursor-pointer" routerLink="/home"></span>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="menu">
                <ul class="menu__list">
                    <li class="menu__item item__search">
                        <div class="menu__item--wrapper">
                            <div class="menu__wrapper" [ngClass]="{ show: !toggleSearch }">
                                <input type="text" placeholder="Tìm kiếm..." [(ngModel)]="searchValue" class="menu__input" />
                            </div>
                            <i class="fa fa-search menu__icon" (click)="onToggleSearch()"></i>
                        </div>
                    </li>
                    <li class="menu__item">
                        <i class="fa fa-dolly menu__icon"></i>
                    </li>
                    <li class="menu__item">
                        <!-- <i [routerLink]="['account']" class="fa fa-user menu__icon"></i> -->
                        <button class="menu__icon" #btn type="button" icon="far fa-user" pButton  (click)="menu.toggle($event)"></button>
                        <p-tieredMenu #menu [model]="authMenu" [popup]="true" ></p-tieredMenu>
                    </li>
                </ul>
            </div>
        </ng-template>
    </p-menubar>
</header>