<!-- <app-order-list></app-order-list> -->
<div class="grid grid-nogutter profile">
    <div class="lg:col-8 lg:col-offset-2 md:col-8 md:col-offset-2 sm:col-8 sm:col-offset-2 col-10 col-offset-1">
        <h3 class="profile-heading"><span>Tài khoản \ deptraiphaithe258@gmail.com</span></h3>
        <div class="profile-wrapper">
            <div class="flex justify-content-between align-items-center wrapper-heading">
                <h4 class="">Quản lý đơn hàng</h4>
                <button pButton pRipple type="button" [routerLink]="['/order']" routerLinkActive="router-link-active" label="Xem tất cả" class="p-button-rounded profile-form-submit"></button>
            </div>

            <table class="grid grid-nogutter wrapper-content">
                <tr class="bg-white hidden lg:block md:block lg:col-12 md:col-12">
                    <div class="grid grid-nogutter wrapper-content-heading">
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                    </div>
                </tr>
                <ul class="wrapper-content-list" style="width: 100%">
                    <li class="grid grid-nogutter wrapper-content-item">
                        <tr class="block bg-white lg:hidden md:hidden sm:col-6 col-6">
                            <div class="grid grid-nogutter item-heading">
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                            </div>
                        </tr>
                        <tr class="bg-white lg:col-12 md:col-12 sm:col-6 col-6">
                            <div class="grid grid-nogutter item-content">
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">00c-455acd</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">10/5/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">Mới</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">12/05/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" href="">Chi tiết</a></td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" href="">Đặt lại</a></td>
                            </div>
                        </tr>
                    </li>
                    <li class="grid grid-nogutter wrapper-content-item">
                        <tr class="block bg-white lg:hidden md:hidden sm:col-6 col-6">
                            <div class="grid grid-nogutter item-heading">
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                            </div>
                        </tr>
                        <tr class="bg-white lg:col-12 md:col-12 sm:col-6 col-6">
                            <div class="grid grid-nogutter item-content">
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">00c-455acd</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">10/5/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">Mới</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">12/05/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" href="">Chi tiết</a></td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" href="">Đặt lại</a></td>
                            </div>
                        </tr>
                    </li>
                    <li class="grid grid-nogutter wrapper-content-item">
                        <tr class="block bg-white lg:hidden md:hidden sm:col-6 col-6">
                            <div class="grid grid-nogutter item-heading">
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                            </div>
                        </tr>
                        <tr class="bg-white lg:col-12 md:col-12 sm:col-6 col-6">
                            <div class="grid grid-nogutter item-content">
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">00c-455acd</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">10/5/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">Mới</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">12/05/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" href="">Chi tiết</a></td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" href="">Đặt lại</a></td>
                            </div>
                        </tr>
                    </li>
                </ul>
            </table>
        </div>
        <div class="profile-wrapper">
            <div class="flex justify-content-between align-items-center wrapper-heading">
                <h4 class="">Thông tin tài khoản</h4>
                <button pButton pRipple type="button" label="Lưu" class="p-button-rounded profile-form-submit"></button>
            </div>
            <form action="" class="grid">
                <div class="p-inputgroup col-10 col-offset-1">
                    <input type="text" pInputText placeholder="Tên người dùng" />
                </div>

                <div class="p-inputgroup lg:col-5 col-10 col-offset-1">
                    <input type="text" pInputText placeholder="Số điện thoại" />
                </div>
                <div class="p-inputgroup lg:col-5 col-10 lg:col-offset-0 col-offset-1">
                    <input type="text" pInputText placeholder="Địa chỉ email" />
                </div>
            </form>
        </div>
        <div class="profile-wrapper">
            <div class="flex justify-content-between align-items-center wrapper-heading">
                <h4 class="">Thông tin giao nhận</h4>
            </div>
            <ul class="delivery-list">
                <li class="delivery-item">
                    <div class="delivery-item-infor">
                        <div class="infor">
                            <i class="infor-icon fa-solid fa-user"></i>
                            <label for="">Nguyễn Quốc Việt</label>
                        </div>
                        <div class="infor">
                            <i class="infor-icon fa-solid fa-location-dot"></i>
                            <label for="">71/12/1/7 đường số 5, phường Linh Xuân, thành phố Thủ Đức</label>
                        </div>
                        <div class="infor">
                            <i class="infor-icon fa-solid fa-phone"></i>
                            <label for="">0919306791</label>
                        </div>
                        <div class="infor">
                            <i class="infor-icon infor-icon-checked fa-solid fa-circle-check"></i>
                            <label for="">Là địa chỉ mặc định</label>
                        </div>
                    </div>
                    <div class="delivery-item-edit">
                        <a class="delivery-link" (click)="showDialog()"> <i class="edit-icon fa-solid fa-pencil"></i> Sửa </a>
                    </div>
                </li>
            </ul>

            <div class="delivery-footer">
                <label for="">Bạn muốn giao hàng đến địa chỉ khác?</label>
                <a class="delivery-link" (click)="showDialog()">Thêm địa chỉ giao hàng</a>
                <p-dialog header="THÔNG TIN GIAO HÀNG" [(visible)]="displayModal" [dismissableMask]="true" [modal]="true" position="top" [blockScroll]="true" [rtl]="true" [style]="{ width: '70vw' }">
                    <!-- form address  -->
                    <form class="grid delivery-footer-form" [formGroup]="formDelivery">
                        <div class="p-inputgroup col-10 col-offset-1">
                            <input type="text" pInputText placeholder="Họ tên" />
                        </div>
                        <div class="p-inputgroup col-10 col-offset-1">
                            <input type="text" pInputText placeholder="Số điện thoại" />
                        </div>
                        <div class="col-10 col-offset-1">
                            <div class="grid grid-nogutter justify-content-between">
                                <!-- select -->
                                <select class="lg:col-3 md:col-3 col-12 lg:mb-0 md:mb-0 mb-3" formControlName="selectedCodeProvince" (change)="onChangeProvince()" name="name">
                                    <option selected value="0">Tỉnh, Thành phố</option>
                                    <option *ngFor="let item of provinces" [value]="item.code">
                                        {{ item.name }}
                                    </option>
                                </select>

                                <select class="lg:col-3 md:col-3 col-12 lg:mb-0 md:mb-0 mb-3" formControlName="selectedCodeDistrict" (change)="onChangeDistrict()" name="name" id="">
                                    <option selected value="0">Quận, Huyện</option>
                                    <option *ngFor="let item of districts" [value]="item.code">
                                        {{ item.name }}
                                    </option>
                                </select>
                                <select class="lg:col-3 md:col-3 col-12" formControlName="selectedCodeWard" (change)="onChangeWard()" name="name" id="">
                                    <option selected value="0">Phường, Xã, Thị trấn</option>
                                    <option *ngFor="let item of wards" [value]="item.code">
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="p-inputgroup col-10 col-offset-1">
                            <input type="text" pInputText placeholder="Số nhà, Đường" />
                        </div>
                    </form>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple type="button" (click)="print()" label="Lưu" class="p-button-rounded profile-form-submit"></button>
                    </ng-template>
                </p-dialog>
            </div>
        </div>
    </div>
</div>