<div class="grid grid-nogutter profile">
    <div class="lg:col-6 lg:col-offset-3 md:col-8 md:col-offset-2 col-10 col-offset-1">
        <h3 class="profile-heading">Tài khoản\deptraiphaithe258@gmail.com</h3>
        <div class="profile-wrapper">
            <div class="flex justify-content-between align-items-center">
                <h4>Quản lý đơn hàng</h4>
                <button pButton pRipple type="button" label="Xem tất cả" class="p-button-rounded profile-form-submit"></button>
            </div>

            <div class="grid">
                <div class="col-2">
                    <label for="">Mã đơn hàng</label>
                    <p>00c-455acd</p>
                </div>
                <div class="col-2">
                    <label for="">Ngày đặt</label>
                    <p>10/5/2022</p>
                </div>
                <div class="col-2">
                    <label for="">Tình trạng</label>
                    <p>Mới</p>
                </div>
                <div class="col-2">
                    <label for="">Ngày giao</label>
                    <p>12/05/2022</p>
                </div>
                <div class="col-2 flex justify-content-between align-items-center">
                    <a [routerLink]="['']">Chi tiết</a>
                </div>
                <div class="col-2 flex justify-content-between align-items-center">
                    <a [routerLink]="['']">Đặt lại</a>
                </div>
            </div>
        </div>
        <div class="profile-wrapper"></div>
    </div>
</div>