@import '../../../../scss/abstracts/_mixin.scss';
@import '../../../../scss/abstracts/variables.scss';
.order {
    @include wrapperMain;
}

.order-wrapper {
    padding: 35px 20px 15px;
    .wrapper-heading {
        text-transform: uppercase;
        margin: 10px 0;
        h4 {
            font-weight: $font-regular;
        }
    }
    .wrapper-content {
        tr {
            border-radius: 3px;
        }
        &-heading {
            text-align: left;
            th {
                padding: 12px 6px;
                font-weight: $font-regular;
            }
        }
        &-list {
            list-style-type: none;
        }
        &-item {
            font-size: $small-font-size;
            position: relative;
            margin: 12px 0;
            tr {
                border-radius: 3px;
            }
            .item-heading {
                th {
                    padding: 6px 6px;
                    font-weight: $font-regular;
                }
            }
            .item-content {
                td {
                    font-weight: $font-regular;
                    padding: 6px 6px;
                }
                .item-link {
                    display: block;
                    text-decoration: none;
                    color: $first-color;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

:host::ng-deep {
    .order-form-submit {
        @include btnPrimary-l;
    }
}