<div class="grid grid-nogutter order">
    <div class="lg:col-8 lg:col-offset-2 md:col-8 md:col-offset-2 sm:col-8 sm:col-offset-2 col-10 col-offset-1">
        <h3 class="order-heading"><span>Danh sách đơn hàng</span></h3>
        <div class="order-wrapper">
            <table class="grid grid-nogutter wrapper-content">
                <tr class="bg-white hidden lg:block md:block lg:col-12 md:col-12">
                    <div class="grid grid-nogutter wrapper-content-heading">
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                    </div>
                </tr>
                <ul class="wrapper-content-list" style="width: 100%">
                    <li class="grid grid-nogutter wrapper-content-item">
                        <tr class="block bg-white lg:hidden md:hidden sm:col-6 col-6">
                            <div class="grid grid-nogutter item-heading">
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                            </div>
                        </tr>
                        <tr class="bg-white lg:col-12 md:col-12 sm:col-6 col-6">
                            <div class="grid grid-nogutter item-content">
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">00c-455acd</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">10/5/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">Mới</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">12/05/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" [routerLink]="['detail']">Chi tiết</a></td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" [routerLink]="['reorder']">Đặt lại</a></td>
                            </div>
                        </tr>
                    </li>
                    <li class="grid grid-nogutter wrapper-content-item">
                        <tr class="block bg-white lg:hidden md:hidden sm:col-6 col-6">
                            <div class="grid grid-nogutter item-heading">
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                            </div>
                        </tr>
                        <tr class="bg-white lg:col-12 md:col-12 sm:col-6 col-6">
                            <div class="grid grid-nogutter item-content">
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">00c-455acd</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">10/5/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">Mới</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">12/05/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" [routerLink]="['detail']">Chi tiết</a></td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" [routerLink]="['reorder']">Đặt lại</a></td>
                            </div>
                        </tr>
                    </li>
                    <li class="grid grid-nogutter wrapper-content-item">
                        <tr class="block bg-white lg:hidden md:hidden sm:col-6 col-6">
                            <div class="grid grid-nogutter item-heading">
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                            </div>
                        </tr>
                        <tr class="bg-white lg:col-12 md:col-12 sm:col-6 col-6">
                            <div class="grid grid-nogutter item-content">
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">00c-455acd</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">10/5/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">Mới</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">12/05/2022</td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" [routerLink]="['detail']">Chi tiết</a></td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" [routerLink]="['reorder']">Đặt lại</a></td>
                            </div>
                        </tr>
                    </li>
                </ul>
            </table>
        </div>
    </div>
</div>