<!-- <app-order-list></app-order-list> -->
<div class="grid grid-nogutter profile">
    <div class="lg:col-8 lg:col-offset-2 md:col-8 md:col-offset-2 sm:col-8 sm:col-offset-2 col-10 col-offset-1">
        <h3 class="profile-heading"><span>Tài khoản \ deptraiphaithe258@gmail.com</span></h3>
        <div class="profile-wrapper">
            <div class="flex justify-content-between align-items-center wrapper-heading">
                <h4 class="">Quản lý đơn hàng</h4>
                <button pButton pRipple type="button" [routerLink]="['/order']" routerLinkActive="router-link-active" label="Xem tất cả" class="p-button-rounded profile-form-submit"></button>
            </div>

            <table class="grid grid-nogutter wrapper-content">
                <tr class="bg-white hidden lg:block md:block lg:col-12 md:col-12">
                    <div class="grid grid-nogutter wrapper-content-heading">
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã sản phẩm</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                        <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                    </div>
                </tr>
                <ul class="wrapper-content-list" style="width: 100%">
                    <li class="grid grid-nogutter wrapper-content-item" *ngFor="let cartHistory of cartHistorys">
                        <tr class="block bg-white lg:hidden md:hidden sm:col-6 col-6">
                            <div class="grid grid-nogutter item-heading">
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Mã đơn hàng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày đặt</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Tình trạng</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12">Ngày giao</th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                                <th class="lg:col-2 md:col-2 sm:col-12 col-12"></th>
                            </div>
                        </tr>
                        <tr class="bg-white lg:col-12 md:col-12 sm:col-6 col-6">
                            <div class="grid grid-nogutter item-content">
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">{{cartHistory.id}}</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">{{cartHistory.orderAt|date}}</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">Mới</td>
                                <td class="lg:col-2 md:col-2 sm:col-12 col-12">1{{cartHistory.orderAt|date}}</td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6"><a class="item-link" [routerLink]="['/order/detail']">Chi tiết</a></td>
                                <td class="lg:col-2 md:col-2 sm:col-6 col-6">{{cartHistory.product.name}}</td>
                            </div>
                        </tr>
                    </li>
                </ul>
            </table>
        </div>
        <div class="profile-wrapper">
            <div class="flex justify-content-between align-items-center wrapper-heading">
                <h4 class="">Thông tin tài khoản</h4>
                <button pButton pRipple [disabled]="!accountForm.valid" type="button" (click)="saveAccount()" label="Lưu" class="p-button-rounded profile-form-submit"></button>
            </div>
            <form [formGroup]="accountForm" class="grid">
                <div class="col-10 col-offset-1">
                    <input type="text" formControlName="name" pInputText placeholder="Tên người dùng" />
                    <span class="error-message" *ngIf="accountForm.controls['name'].errors?.['required'] &&accountForm.controls['name'].touched ">
                        Vui lòng nhập tên
                    </span>
                </div>

                <div class="lg:col-5 col-10 col-offset-1">
                    <input type="text" formControlName="phone" pInputText placeholder="Số điện thoại" />
                    <span class="error-message" *ngIf="accountForm.controls['phone'].errors && accountForm.controls['phone'].touched">
                        {{accountForm.controls['phone'].errors?.['required']?'Vui lòng nhập số điện thoại':' Số điện thoại không chính xác'}}
                    </span>
                </div>

                <div class="lg:col-5 col-10 lg:col-offset-0 col-offset-1">
                    <input type="text" formControlName="email" pInputText placeholder="Địa chỉ email" />
                    <span class="error-message" *ngIf="accountForm.controls['email'].errors && accountForm.controls['email'].touched">
                        {{accountForm.controls['email'].errors?.['required']?'Vui lòng nhập email':(accountForm.controls['email'].errors?.['pattern']?'Email không chính xác':' Email trung')}}
                    </span>
                </div>
            </form>
        </div>
        <div class="profile-wrapper">
            <div class="flex justify-content-between align-items-center wrapper-heading">
                <h4 class="">Thông tin giao nhận</h4>
            </div>
            <ul class="delivery-list">
                <li class="delivery-item">
                    <div class="delivery-item-infor">
                        <div class="infor">
                            <i class="infor-icon fa-solid fa-user"></i>
                            <label for="">{{users?.name}}</label>
                        </div>
                        <div class="infor" *ngFor="let address of users?.addresses">
                            <i class="infor-icon fa-solid fa-location-dot"></i>
                            <label for="">{{address?.street}}, {{address?.town}}, {{address?.district}}, {{address?.provinceCity}}</label>
                        </div>
                        <div class="infor">
                            <i class="infor-icon fa-solid fa-phone"></i>
                            <label for="">{{users?.phoneNumber}}</label>
                        </div>
                        <div class="infor">
                            <i class="infor-icon infor-icon-checked fa-solid fa-circle-check"></i>
                            <label for="">Là địa chỉ mặc định</label>
                        </div>
                    </div>
                    <div class="delivery-item-edit">
                        <a class="delivery-link" (click)="editDelivery()"> <i class="edit-icon fa-solid fa-pencil"></i> Sửa </a>
                    </div>
                </li>
            </ul>

            <div class="delivery-footer">
                <label for="">Bạn muốn giao hàng đến địa chỉ khác?</label>
                <a class="delivery-link" (click)="addDelivery()">Thêm địa chỉ giao hàng</a>
                <p-dialog header="THÔNG TIN GIAO HÀNG" [(visible)]="displayModal" [modal]="true" position="top" [blockScroll]="true" [rtl]="true" [style]="{ width: '70vw' }">
                    <!-- form address  -->
                    <form class="grid delivery-footer-form" [formGroup]="formDelivery">
                        <div class="col-10 col-offset-1">
                            <input type="text" formControlName="name" pInputText placeholder="Họ tên" />
                            <span class="error-message" *ngIf="formDelivery.controls['name'].errors?.['required'] && formDelivery.controls['name'].touched">
                                Vui lòng nhập họ tên
                            </span>
                        </div>
                        <div class="col-10 col-offset-1">
                            <input type="text" formControlName="phone" pInputText placeholder="Số điện thoại" />
                            <span class="error-message" *ngIf="formDelivery.controls['phone'].errors && formDelivery.controls['phone'].touched">
                                {{formDelivery.controls['phone'].errors?.['required']?'Vui lòng nhập số điện thoại':' Số điện thoại không chính xác'}}
                            </span>
                        </div>
                        <div class="col-10 col-offset-1">
                            <div class="grid grid-nogutter justify-content-between" formGroupName="address">
                                <!-- select -->
                                <select class="lg:col-3 md:col-3 col-12 lg:mb-0 md:mb-0 mb-3" formControlName="selectedCodeProvince" (change)="onChangeProvince()" name="name">
                                    <option selected value="0">Tỉnh, Thành phố</option>
                                    <option *ngFor="let item of provinces" [value]="item.code">
                                        {{ item.name }}
                                    </option>
                                </select>

                                <select class="lg:col-3 md:col-3 col-12 lg:mb-0 md:mb-0 mb-3" formControlName="selectedCodeDistrict" (change)="onChangeDistrict()" name="name" id="">
                                    <option selected value="0">Quận, Huyện</option>
                                    <option *ngFor="let item of districts" [value]="item.code">
                                        {{ item.name }}
                                    </option>
                                    <app-spinner></app-spinner>
                                </select>
                                <select class="lg:col-3 md:col-3 col-12" formControlName="selectedCodeWard" (change)="onChangeWard()" name="name" id="">
                                    <option selected value="0">Phường, Xã, Thị trấn</option>
                                    <option *ngFor="let item of wards" [value]="item.code">
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-10 col-offset-1">
                            <input type="text" formControlName="street" pInputText placeholder="Số nhà, Đường" />
                            <span class="error-message" *ngIf="formDelivery.controls['street'].errors?.['required'] && formDelivery.controls['street'].touched">
                                Vui lòng nhập số nhà, đường
                            </span>
                        </div>
                    </form>
                    <ng-template pTemplate="footer">
                        <!-- <button pButton pRipple type="button" (click)="cancel()" label="Cancel" class="p-button-rounded profile-form-submit"></button> -->
                        <button pButton pRipple type="button" (click)="print()" [disabled]="!formDelivery.valid" label="{{ editModeDelivery ? 'Sửa' : 'Lưu' }}" class="p-button-rounded profile-form-submit"></button>
                    </ng-template>
                </p-dialog>
            </div>
        </div>
    </div>
</div>