<div class="grid grid-nogutter account">
    <!-- [@openClose]="loginMode ? 'open' : 'closed'" -->
    <div class="lg:col-8 lg:col-offset-2 md:col-8 md:col-offset-2 sm:col-8 sm:col-offset-2 col-10 col-offset-1">
        <h3 class="account-heading">
            <span>
                {{ loginMode ? 'Đăng nhập' : 'Đăng ký' }}
            </span>
        </h3>
        <div class="account-wrapper">
            <div class="grid">
                <div class="col-10 col-offset-1">
                    <p-button
                        class="flex justify-content-end"
                        styleClass="account-form-switch p-button-sm p-button-raised"
                        label="{{ loginMode ? 'Đăng ký' : 'Đăng nhập' }}"
                        icon="pi pi-sync"
                        iconPos="left"
                        (onClick)="switchMode()"></p-button>
                </div>
            </div>

            <form class="account-form">
                <div class="grid">
                    <div class="col-10 col-offset-1">
                        <div class="p-inputgroup" *ngIf="!loginMode">
                            <input type="text" pInputText placeholder="Họ tên" />
                        </div>
                        <div class="p-inputgroup">
                            <input type="text" pInputText placeholder="Địa chỉ email" />
                        </div>
                        <div class="grid">
                            <div [ngClass]="loginMode ? 'col-12' : 'col-6'">
                                <div class="p-inputgroup m-0">
                                    <input type="text" pInputText placeholder="Mật khẩu" />
                                </div>
                            </div>
                            <div class="col-6" *ngIf="!loginMode">
                                <div class="p-inputgroup m-0">
                                    <input type="text" pInputText placeholder="Số điện thoại" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-column justify-content-between align-items-center">
                            <button
                                pButton
                                pRipple
                                type="button"
                                label="{{ loginMode ? 'Đăng nhập' : 'Đăng ký' }}"
                                class="p-button-rounded account-form-submit mt-3 max-w-15rem"></button>

                            <p-button styleClass="account-form-forgot p-button-link mt-4" label="Quên mật khẩu ?" *ngIf="loginMode"></p-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
