@import '../../../scss/abstracts/_mixin.scss';
@import '../../../scss/abstracts/variables.scss';

.textarea{
    border: 1px solid #4d4d4d;
    border-radius: 0.5rem;
    padding: 1rem;

    &:focus{
        border: 1px solid #4d4d4d;
    }
}

.cart {
    @include wrapperMain;
}

.cart-wrapper {
    padding: 35px 20px 15px;
    .wrapper-heading {
        text-transform: uppercase;
        margin: 10px 0;
        h4 {
            font-weight: $font-regular;
        }
    }
    .no-cart-wrapper {
        text-align: center;
        padding: 35px 0;
        p {
            font-size: $small-font-size;
            margin: 6px 0;
        }
        .no-cart-btn {
            margin-top: 30px;
        }
    }
}

.order-table {
    display: block;
    margin-top: 15px;
    .order-table-heading {
        border-bottom: 2px solid $border-color;
        padding-bottom: 10px;
    }
    .order-title {
        font-size: $small-font-size;
    }
    .order-title:first-child {
        text-align: left;
        padding-left: 8px;
    }
    .order-title:last-child {
        padding-right: 8px;
        text-align: right;
    }
    .order-list {
        list-style-type: none;
    }
}

.order-item {
    border-bottom: 1px solid $border-color-light;
    position: relative;
    @include flex-center;
    td {
        display: block;
    }
    &-img {
        img {
            width: 100%;
        }
    }
    &-name {
        span:first-child {
            text-transform: uppercase;
        }
        span {
            margin-bottom: 6px;
            color: $text-color-light;
        }
    }
    &-quantity {
        text-align: center;
    }
    &-total {
        span {
            @include sup-price;
        }
        text-align: right;
    }
}

.checkout {
    @include checkout-format;
}

.checkout-btn {
    width: 100%;
}

:host::ng-deep {
    .no-cart-btn {
        @include btnPrimary-l;
    }
    .checkout-btn {
        @include btnPrimary-l;
    }
    .p-inputnumber-input {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .product-sold-out {
        @include btnDanger-s;
    }
    .order-button {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: all 0.3s ease;
        .p-button-icon {
            color: $white-color;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}