<div class="grid grid-nogutter sign">
    <!-- [@openClose]="loginMode ? 'open' : 'closed'" -->
    <div class="lg:col-8 lg:col-offset-2 md:col-8 md:col-offset-2 sm:col-8 sm:col-offset-2 col-10 col-offset-1">
        <h3 class="sign-heading">
            <span> Đăng ký </span>
        </h3>
        <div class="sign-wrapper">
            <form class="sign-form" [formGroup]="signUp" (ngSubmit)="onSignUp()">
                <div class="grid">
                    <div class="col-10 col-offset-1 mt-3">
                        <div class="p-inputgroup">
                            <input type="text" formControlName="name" pInputText placeholder="Họ tên" />
                        </div>
                        <div class="p-inputgroup">
                            <input type="text" formControlName="email" pInputText placeholder="Địa chỉ email" />
                        </div>
                        <div class="p-inputgroup">
                            <input type="text" formControlName="username" pInputText placeholder="tài khoản" />
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <div class="p-inputgroup m-0">
                                    <input type="text" formControlName="password" pInputText placeholder="Mật khẩu" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-inputgroup m-0">
                                    <input type="text" formControlName="phoneNum" pInputText placeholder="Số điện thoại" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-column justify-content-between align-items-center">
                            <button
                                pButton
                                pRipple
                                type="submit"
                                label="Đăng ký"
                                class="p-button-rounded sign-form-submit my-3 max-w-15rem"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
