$mobile-xs: 400px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile-xs {
    @media (max-width: #{$mobile-xs - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin btnPrimary {
    border: 1px solid $first-color;
    background-color: $first-color;
    transition: all 0.3s ease;
    .p-button-label {
        color: $white-color;
        text-transform: uppercase;
    }
    &:hover {
        border: 1px solid $first-color;
        background-color: $white-color;
        .p-button-label {
            color: $first-color;
        }
    }
}

@mixin btnDanger {
    border: 1px dashed $second-color;
    background-color: $white-color;
    .p-button-label {
        color: $second-color;
        text-transform: uppercase;
    }
    &:hover {
        border: 1px dashed $second-color;
        background-color: $white-color;
    }
    &:focus {
        box-shadow: none;
    }
}

@mixin btnPrimary-l {
    padding: 6px 32px;
    @include btnPrimary;
}

@mixin btnPrimary-m {
    padding: 4px 16px;
    @include btnPrimary;
}

@mixin btnPrimary-s {
    font-size: $smaller-font-size;
    @include btnPrimary;
}

@mixin btnDanger-s {
    font-size: $smaller-font-size;
    @include btnDanger;
}

@mixin wrapperMain {
    margin-top: 36px;
    &-heading {
        font-size: $big-font-size;
        text-transform: uppercase;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            border-bottom: 2px solid $third-color;
            width: 20%;
            left: 0;
            bottom: -50%;
        }
    }
    &-wrapper {
        margin-top: 40px;
        background-color: $background-color;
        border-radius: 2px;
        padding: 15px 20px;
    }
}

@mixin sup-price-l {
    font-size: $bigest-font-size;
    position: relative;
    margin-right: 8px;
    color: $first-color;
    font-weight: $font-bold;
    &::after {
        position: absolute;
        content: 'đ';
        text-decoration: underline;
        top: -4px;
        right: -8px;
        font-size: $medium-font-size;
    }
}

@mixin sup-price {
    font-size: $large-font-size;
    color: $first-color;
    font-weight: $font-bold;
    position: relative;
    margin-right: 8px;
    &::after {
        position: absolute;
        content: 'đ';
        text-decoration: underline;
        top: -4px;
        right: -8px;
        font-size: $small-font-size;
    }
}

@mixin sup-price-s {
    font-size: $medium-font-size;
    color: $first-color;
    font-weight: $font-bold;
    position: relative;
    margin-right: 8px;
    &::after {
        position: absolute;
        content: 'đ';
        text-decoration: underline;
        top: -4px;
        right: -8px;
        font-size: $smaller-font-size;
    }
}