$first-color: hsl(138, 68%, 42%);
$second-color: hsl(0, 100%, 50%);

$white-color: hsl(0, 0%, 100%);

$text-color-dark: hsl(0, 0%, 20%);
$text-color: hsl(0, 0%, 35%);
$text-color-light: hsl(0, 0%, 40%);

$font-family: 'Roboto', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$small-font-size: 0.875em;
$normal-font-sze: 0.9375em;
$medium-font-size: 1em;
$big-font-size:1.5em;
