<div class="product" style="position: relative">
    <a class="product-item" (click)="chooseProduct(product.id)">
        <p-card styleClass="product-card">
            <ng-template styleClass="product-card-img" pTemplate="header">
                <img src="assets/image/products/{{ product.image }}" alt="" />
            </ng-template>
            <div class="product-card-discount">
                <div *ngIf="product.discount != 0">
                    <img class="discount-img" src="assets/image/img_discount.png" alt="" />
                    <p class="discount-text">{{ product.discount }}</p>
                </div>
            </div>

            <h3 class="product-card-name">{{ product.name }}</h3>

            <div class="product-card-price">
                <span class="price-new">{{ product.price }} </span> <span class="price-unit">/ {{ product.unit }} </span>
                <p *ngIf="product.discount != 0" class="price-old">{{ product.price * (1 + product.discount) }}</p>
            </div>
            <!-- <ng-template styleClass="product-card-describe" pTemplate="footer"> {{ product.describes[0].content | slice: 0:26 }}... </ng-template> -->
        </p-card>
    </a>
    <div class="product-action flex justify-content-between align-items-center">
        <div class="lg:-translate-x-100 product-favorite">
            <i class="product-favorite-icon fa-solid fa-heart"></i>
        </div>
        <div class="lg:translate-x-100 product-buy">
            <button pButton pRipple type="button" label="{{ product.quantity != 0 ? 'Mua hàng' : 'Tạm hết' }}" [ngClass]="product.quantity != 0 ? 'product-buy-btn' : 'product-sold-out'" (click)="addToCart()" class="p-button-rounded"></button>
            <!-- product-sold-out -->
        </div>
    </div>
</div>