@import '../../../../scss/abstracts/_mixin.scss';
@import '../../../../scss/abstracts/variables.scss';
.category-heading {
    margin-left: 8px;
    font-size: $big-font-size;
    font-weight: $font-regular;
}

.group {
    margin-left: 8px;
    margin-bottom: 24px;
    @include wrapperMain;
}

:host::ng-deep {
    .p-toggleable-content {
        display: block;
        overflow: visible !important;
        height: auto !important;
    }
}