@import '../../../../scss/abstracts/_mixin.scss';
@import '../../../../scss/abstracts/variables.scss';
.order {
    @include wrapperMain;
}

.order-wrapper {
    .wrapper-heading {
        text-transform: uppercase;
        margin-top: 10px;
        h4 {
            font-weight: $font-regular;
        }
    }
    .order-detail {
        margin: 15px 0;
        color: #fff;
        &-title {
            margin-right: 10px;
            font-size: $normal-font-size;
        }
        &-content {
            font-size: $normal-font-size;
        }
        &-status {
            color: $white-color;
            background-color: hsl(0, 0%, 30%);
            border-radius: 5px;
            padding: 2px 4px;
            font-size: $smaller-font-size;
            line-height: $smaller-font-size;
        }
    }
}

.order-table {
    display: block;
    margin-top: 15px;
    .order-table-heading {
        border-bottom: 2px solid $border-color;
        padding-bottom: 10px;
    }
    .order-title {
        font-size: $small-font-size;
    }
    .order-title:first-child {
        text-align: left;
        padding-left: 8px;
    }
    .order-title:last-child {
        padding-right: 8px;
        text-align: right;
    }
    .order-list {
        list-style-type: none;
    }
}

.order-item {
    border-bottom: 1px solid $border-color-light;
    @include flex-center;
    td {
        display: block;
    }
    &-img {
        img {
            width: 100%;
        }
    }
    &-name {
        span:first-child {
            text-transform: uppercase;
            margin-bottom: 6px;
        }
        span {
            color: $text-color-light;
        }
    }
    &-quantity {
        text-align: center;
    }
    &-total {
        span {
            @include sup-price;
        }
        text-align: right;
    }
}

.checkout {
    margin: 20px 8px 0 0;
    .checkout-group {
        margin-bottom: 20px;
        .checkout-title {
            font-size: $medium-font-size;
            font-weight: $font-bold;
        }
        .checkout-title-total {
            font-size: $large-font-size;
        }
        .checkout-content {
            @include sup-price-s;
        }
        .checkout-total {
            @include sup-price;
        }
    }
    .checkout-group:last-child {
        padding-top: 20px;
        border-top: 1px solid $first-color;
    }
}