<div class="grid grid-nogutter order">
    <div class="lg:col-8 lg:col-offset-2 md:col-8 md:col-offset-2 sm:col-8 sm:col-offset-2 col-10 col-offset-1">
        <h3 class="order-heading">Đơn hàng: Ofasdasd:qưe</h3>
        <div class="order-wrapper">
            <div class="flex justify-content-start align-items-center wrapper-heading">
                <h4 class="">Thông tin đơn hàng</h4>
            </div>
            <div class="order-detail">
                <div class="grid">
                    <div class="lg:col-3 sm:col-5 col-12 lg:col-offset-2 sm:text-right text-left sm:font-normal font-bold">
                        <div class="order-detail-title">Hình thức nhận hàng:</div>
                    </div>
                    <div class="lg:col-5 sm:col-7 col-12">
                        <div class="order-detail-content">Đến lấy tại cửa hàng (Thời gian: 11/06/2022, 09:00)</div>
                    </div>
                </div>
                <div class="grid">
                    <div class="lg:col-3 sm:col-5 col-12 lg:col-offset-2 sm:text-right text-left sm:font-normal font-bold">
                        <div class="order-detail-title">Phương thức thanh toán:</div>
                    </div>
                    <div class="lg:col-5 sm:col-7 col-12">
                        <div class="order-detail-content">Thanh toán tiền khi nhận hàng</div>
                    </div>
                </div>
                <div class="grid">
                    <div class="lg:col-3 sm:col-5 col-12 lg:col-offset-2 sm:text-right text-left sm:font-normal font-bold">
                        <div class="order-detail-title">Trạng thái thanh toán:</div>
                    </div>
                    <div class="lg:col-5 sm:col-7 col-12 flex align-items-center">
                        <span class="order-detail-content order-detail-status">Chờ xử lý</span>
                    </div>
                </div>
                <div class="grid">
                    <div class="lg:col-3 sm:col-5 col-12 lg:col-offset-2 sm:text-right text-left sm:font-normal font-bold">
                        <div class="order-detail-title">Ghi chú:</div>
                    </div>
                    <div class="lg:col-5 sm:col-7 col-12">
                        <div class="order-detail-content"></div>
                    </div>
                </div>
            </div>
        </div>

        <table class="order-table">
            <tr class="sm:flex hidden grid grid-nogutter order-table-heading">
                <th class="order-title col-4 col-offset-3">Sản phẩm</th>
                <th class="order-title col-2">Số lượng</th>

                <th class="order-title col-3">Thành tiền</th>
            </tr>
            <tr class="grid grid-nogutter">
                <ul class="order-list">
                    <li class="order-item sm:flex flex-wrap block">
                        <td class="sm:col-3 col-12 order-item-img"><img src="assets/image/products/product-1.png" alt="" /></td>
                        <td class="sm:col-4 col-12 order-item-name sm:text-left text-center flex flex-column">
                            <span>Nấm rơm</span> <span>400g</span>
                        </td>
                        <td class="sm:col-2 col-12 text-center order-item-quantity">1</td>
                        <td class="sm:col-3 col-12 sm:text-right text-center order-item-total"><span>64.000</span></td>
                    </li>
                </ul>
            </tr>
        </table>

        <div class="grid grid-nogutter checkout">
            <div class="md:col-5 md:col-offset-7 col-12">
                <div class="checkout-group flex justify-content-between">
                    <span class="checkout-title">Tạm tính</span>
                    <span class="checkout-content">148000</span>
                </div>
                <div class="checkout-group flex justify-content-between">
                    <span class="checkout-title">Giảm giá</span>
                    <span class="checkout-content">10%</span>
                </div>

                <div class="checkout-group flex justify-content-between">
                    <span class="checkout-title">Phí giao hàng</span>
                    <span class="checkout-content">30000</span>
                </div>
                <div class="checkout-group flex justify-content-between">
                    <span class="checkout-title checkout-title-total">Tổng cộng</span>
                    <span class="checkout-content checkout-total">178000</span>
                </div>
            </div>
        </div>
    </div>
</div>