<div class="grid grid-nogutter">
    <div class="lg:col-6 lg:col-offset-1 md:col-8 col-12">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [showIndicatorsOnItem]="true" [showThumbnails]="length > 1 ? true : false" [numVisible]="5">
            <ng-template pTemplate="item" let-item>
                <img src="assets/image/products/{{ item.source }}" style="object-fit: contain; width: 100%; height: 450px" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img src="assets/image/products/{{ item.source }}" style="width: 100%; padding: 0 4px" />
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <div class="lg:col-4 md:col-4 col-12">
        <div class="product-detail">
            <h3 class="product-detail-name">{{ product?.name }}</h3>
            <div class="product-detail-price">
                <span class="price-new">{{ product?.price }} </span> <span class="price-unit">/ {{ product?.unit }} </span>
            </div>
            <div class="product-detail-quantity flex justify-content-around align-items-center">
                <label for="horizontal ">Số lượng</label>
                <p-inputNumber [(ngModel)]="quantity" [disabled]="true" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="1" [ariaRequired]="true" decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal">
                </p-inputNumber>
            </div>

            <button pButton pRipple (click)="addToCart()" type="button" label="{{ product?.quantity != 0 ? 'Cho vào giỏ hàng' : 'Tạm hết' }}" [ngClass]="product?.quantity != 0 ? 'product-buy-btn' : 'product-sold-out'" class="p-button-rounded"></button>
        </div>
    </div>
</div>
<div class="grid grid-nogutter">
    <div class="lg:col-6 lg:col-offset-1 md:col-8 sm:col-8 col-12">
        <div class="grid grid-nogutter product-describe">
            <div class="lg:col-2 md:col-2 col-12">
                <h3 class="product-describe-heading text-center">Mô tả</h3>
                <p class="lg:hidden md:hidden block product-describe-line"></p>
            </div>

            <div class="lg:col-10 md:col-10 col-12">
                <ul class="product-describe-list">
                    <li class="product-describe-item" *ngFor="let item of describes">
                        <h3 class="describe-title">{{ item.title }} :</h3>
                        <span class="describe-content"> {{ item.content }} </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="grid grid-nogutter product-describe">
            <div class="lg:col-2 md:col-2 col-12">
                <h3 class="product-describe-heading text-center">Thương hiệu</h3>
                <p class="lg:hidden md:hidden block product-describe-line"></p>
            </div>

            <div class="lg:col-10 md:col-10 col-12">
                <ul class="product-describe-list">
                    <li class="product-describe-item" *ngFor="let item of certificates">
                        <h3 class="describe-title">{{ item.title }}</h3>
                        <div>
                            <img src="assets/image/{{ item.img }}" alt="" />
                        </div>
                        <p class="describe-content">{{ item.content }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid grid-nogutter product-describe">
            <div class="lg:col-2 md:col-2 col-12">
                <h3 class="product-describe-heading text-center">Đặc tính</h3>
                <p class="lg:hidden md:hidden block product-describe-line"></p>
            </div>

            <div class="lg:col-10 md:col-10 col-12">
                <ul class="product-describe-list">
                    <li class="product-describe-item describe-nature" *ngFor="let item of natures">
                        <span class="describe-content">{{ item }} </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <p-carousel [value]="products" [showNavigators]="true" [showIndicators]="false" [autoplayInterval]="3000" [circular]="true" [numVisible]="5" [numScroll]="1" styleClass="home-carousel" indicatorStyleClass="paging-carousel">
            <ng-template let-productEl pTemplate="item">
                <app-product-item class="lg:col-3 sm:col-4 col-6" [product]="productEl"></app-product-item>
            </ng-template>
        </p-carousel>
    </div>
</div>