@import '../../../../scss/abstracts/_mixin.scss';
@import '../../../../scss/abstracts/variables.scss';
.product-detail {
    margin: 0 15px;
    &-name {
        font-size: $bigest-font-size;
        font-weight: $font-bold;
        color: $text-color-dark;
        position: relative;
        margin-bottom: 20px;
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            bottom: -20px;
            left: 0;
            border-bottom: 1px solid $first-color;
        }
    }
    &-price {
        margin: 40px 0;
        .price-new {
            @include sup-price-l;
        }
        .price-unit {
            font-size: $bigest-font-size;
            color: $first-color;
            font-weight: $font-bold;
        }
    }
    &-quantity {
        margin: 20px 0;
        label {
            width: 50%;
            font-size: $normal-font-size;
            text-transform: uppercase;
        }
    }
}

.product-describe {
    margin: 40px 15px 20px;
    &-heading {
        color: $text-color-lightest;
        text-transform: uppercase;
        margin-right: 6px;
    }
    &-line {
        width: 100%;
        border-top: 1px solid $first-color;
        margin: 15px 0;
    }
    &-list {
        list-style-type: none;
    }
    &-item {
        margin-bottom: 20px;
        text-align: justify;
        line-height: $big-font-size;
        .describe-title {
            font-size: $normal-font-size;
            font-weight: $font-bold;
            display: inline-block;
        }
        img {
            margin: 10px auto;
            display: block;
        }
        .describe-content {
            font-size: $small-font-size;
            font-weight: $font-regular;
        }
    }
    &-item.describe-nature {
        display: inline-block;
        margin-right: 6px;
        border: 1px solid $border-color-light;
        padding: 4px 6px;
        // cursor: pointer;
        cursor: default;
    }
}

:host::ng-deep {
    .product-buy-btn {
        width: 100%;
        @include btnPrimary;
    }
    .product-sold-out {
        width: 100%;
        @include btnDanger;
    }
    p-galleriaitem {
        border: 1px solid $border-color-light;
        p-galleriaitemslot {
            img {
                @include mobile-xs {
                    height: 200px !important;
                }
            }
        }
    }
    .p-galleria-thumbnail-container {
        background-color: $white-color;
        // border: 1px solid $border-color-light;
        border-width: 0 1px 1px 1px;
        border-color: $border-color-light;
        border-style: solid;
    }
    .p-inputtext {
        width: 100%;
        text-align: center;
    }
}